# Node
node_modules/
.npm/

# Environment variables (Sensitive)
.env
.env.local
.env.*.local

# Production Build
dist/
build/

# Local Dev/System Files
.DS_Store
Thumbs.db

# Excluded directories
Meet-024/
